@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}

.boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #f0ecec;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

header{
    background: url(img/header.jpg);
    background-size: cover;
    background-position:center;
    height: 200px;
    font-style: oblique;
}
header h1{
    text-align: center;
    font-size: 45px;
    color: rgb(237, 234, 234);
    padding: 100px 0;
}
.resultado-container {
    margin-top: 20px;
}
.resultado-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    font-style: italic;
}
h3 {
    text-align: center;
    font-family: serif;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

h6{
    text-align: center;
    -ms-text-size-adjust: 56px;
        font-family: serif;
}